.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
android/.kotlin/
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.iml
.idea/
tmp/
.gradle-cache/
.gradle-c-archive/
Week-*.pdf
output/apk/
